body {
  animation: lines 3s ease-out infinite;
  background: repeating-linear-gradient(0deg, #111 0px, #111 1px, transparent 2px, transparent 5px);
  background-color: #0F380F;
  font-family: Helvetica, Arial;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin: auto;
  color: #8bac0f;
}

h1 {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 30px;
}

#pressStart {
  font-style: italic;
  text-transform: uppercase;
  font-size: 18px;
}

.container {
  animation: lines 3s ease-out infinite;
  background: repeating-linear-gradient(0deg, #111 0px, #111 1px, transparent 2px, transparent 5px);
  width: 100%;
  max-width: 600px;
  border: 10px outset #8bac0f;
  margin: auto;
}

#instructions {
  display: inline-block;
  padding: 20px;
  height: 50px;
}

#seriesScoreBoard {
  float: left;
  width: 100%;
  padding: 5px;
  padding-bottom: 0px;
}

#seriesCounterContainer {
  display: block;
  margin-bottom: 15px;

}

#lastScoreDisplay {
  height: auto;
}

.seriesCounterLabel {
  display: inline-block;
}

.dot {
  margin-left: 4px;
  margin-right: 4px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #306230;
  border: 7px inset #306230;
  display: inline-block;
  margin: auto;
}

.lit {
  background-color:#9bbc0f;
  border: 7px inset #9bbc0f;
}

#actionButton {
  display: block;
  margin: auto;
  line-height: 200px;
  width: 80%;
  max-width: 600px;
  height: 200px;
  border-radius: 2px;
  color: #0f380f;
  font-size: 36px;
  background: #9bbc0f;
  cursor: pointer;
  border: 10px outset #8bac0f;
}

#actionButton:active {
  border: 10px inset #8bac0f;
}

.logo {
  display: inline-block;
  margin: auto;
  font-size: 48px;
  padding: 5px;
  padding-top: 10px;
  border: 12px outset #8bac0f;
  border-radius: 4px;
  font-family: 'Orbitron', sans-serif;
  margin-top: 15px;

  perspective: 400px;
  animation-name: starwars;
  animation-duration: 3s;
  animation-direction: reverse;
  }

#sml_lettering {
  display: inline-block;
  margin-top: -5px;
  font-size: 69px;
  transform: rotateX(6deg);
}

#rt_lettering {
  display: inline-block;
  transform: rotateX(6deg);
}

@keyframes starwars {
  from {perspective: 400px;}
  to {perspective: 1px;}
}

@keyframes blinking-button {
  0% {background-color: #0f380f; color: #8bac0f; }
  50% {background-color: #8bac0f; color: #0f380f;}
  100% {background-color: #0f380f; color: #8bac0f; }
}

@@keyframes blinking-dots {
  0% {background-color: #306230; border-width: 7px; border-style: inset; border-color: #306230; }
  50% {background-color: #9bbc0f; border-width: 7px; border-style: inset; border-color: #9bbc0f; }
  100% {background-color: #306230; border-width: 7px; border-style: inset; border-color: #306230; }
}

@keyframes lines {
   0% {
      background-position:0px 0px;
   }
   100% {
      background-position:0px 25px;
   }
}

.blinking-button {
  animation-name: blinking-button;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.blinking-dots {
  animation-name: blinking-dots;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

#reactionZone {
  width: 100%;
  display: inline-block;
  margin: auto;
  height: 250px;
  background: #0f380f;
  border-radius: 2px;
  background: transparent;
}


/* MEDIA QUERIES */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (min-device-width : 768px) {
    .container {max-width: 100vw;}
}

/* iPhone X */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { .container {max-width: 100vw;}}

/* other iPhones */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) { .container {max-width: 100vw;}}

/* large iPhones */

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) { .container {max-width: 100vw;}}


/*
BLINKING BUTTONS !!!
Darkest Green
Hex: #0f380f
RGB: 15, 56, 15
Dark Green
Hex: #306230
RGB: 48, 98, 48
Light Green
Hex: #8bac0f
RGB: 139, 172, 15
Lightest Green
Hex: #9bbc0f
RGB: 155, 188, 15

FOOOONTS
font-family: 'Libre Barcode 128 Text', cursive;

*/
