body {
  background-color: #0F380F;
  font-family: Helvetica, Arial;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin: auto;
  color: #8bac0f;
}

h1 {
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  width: 100vw;
  max-width: 500px;
  margin: auto;
  border: 1px dotted white;
}

#instructions {
  display: inline-block;
  padding: 20px;
}

#seriesScoreBoard {
  float: left;
  border: 10px solid #9bbc0f;
  border-bottom: 0px;
  width: 50%;
  padding: 5px;
  padding-bottom: 0px;
  text-align: left;
}

#seriesCounterContainer {
  display: block;

}

#lastScoreDisplay {
  padding-top: 30px;
  height: 40px;
}

.seriesCounterLabel {
  display: inline-block;
  float: left;
}

.dot {
  margin-left: 4px;
  margin-right: 4px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #306230;
  border: 7px inset #306230;
  display: inline-block;
  float: right;
}

.lit {
  background-color:#9bbc0f;
  border: 7px inset #9bbc0f;

}

#actionButton {
  display: block;
  float: right;
  margin: auto;
  line-height: 60px;
  width: 180px;
  height: 50px;
  color: #0f380f;
  font-size: 24px;
  background: #9bbc0f;
  cursor: pointer;
  border: 10px outset #9bbc0f;
}

#actionButton:active {
  border: 10px inset #9bbc0f;
}

.logo {
  display: inline-block;
  margin: auto;
  font-size: 48px;
  padding: 5px;
  padding-top: 10px;
  border: 10px outset #8bac0f;
  font-family: 'Orbitron', sans-serif;
  margin-top: 15px;

  perspective: 400px;
  animation-name: starwars;
  animation-duration: 3s;
  animation-direction: reverse;
  }

#sml_lettering {
  display: inline-block;
  margin-top: -5px;
  font-size: 69px;
  transform: rotateX(6deg);
}

#rt_lettering {
  display: inline-block;
  transform: rotateX(6deg);
}

@keyframes starwars {
  from {perspective: 400px;}
  to {perspective: 1px;}
}

#reactionZone {
  display: inline-block;
  margin: auto;
  width: 100%;
  height: 250px;
  background: #0f380f;
  border: 10px solid #8bac0f;
}


/* MEDIA QUERIES */


/* iPhone X */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { /* STYLES GO HERE */}

/* other iPhones */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) { /* STYLES GO HERE */}

/* large iPhones */

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) { /* STYLES GO HERE */}


/*
BLINKING BUTTONS !!!
Darkest Green
Hex: #0f380f
RGB: 15, 56, 15
Dark Green
Hex: #306230
RGB: 48, 98, 48
Light Green
Hex: #8bac0f
RGB: 139, 172, 15
Lightest Green
Hex: #9bbc0f
RGB: 155, 188, 15

FOOOONTS
font-family: 'Libre Barcode 128 Text', cursive;

*/
